{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Medical-Bot</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/progressbar_barfiller.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated-headline.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    
    
</head>

<body>
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="/"><img src="assets/img/logo/logo.png" alt="">LOGO</a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">                                                                                          
                                                <li class="active" ><a href="/">Home</a></li>
                                                
                                                <li><a href="/med_chatbot/">Chat-Bot</a></li>
                                                <li><a href="#">Voice-Bot</a></li>
                                                <li><a href="#">History</a></li>
                                                
                                                
                                                

                                                                                             
                                                {% if user.is_authenticated %}
                                              
                                                   
                                                        <li><a href="http://127.0.0.1:8000/accounts/change/profile/">Profile</a></li>
                                                        <li><a href="http://127.0.0.1:8000/accounts/change/password/">Password</a></li>
                                                      
                                                    
                                              


                                                <li class="button-header margin-left"><a href="{% url 'accounts:log_out_confirm' %}" class="btn">Logout</a></li>

                                                <li class="nav-item">
                                                    <a class="nav-link" href="" style="color: rgb(47, 61, 253);">Welcome, {{ user.username }}!</a>

                                                </li>

                                                    {% else %}
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="" style="color: rgb(30, 127, 1);">Welcome, Guest!</a>
    
                                                    </li>

                                                 
                                                        <li class="button-header margin-left"><a href="http://127.0.0.1:8000/accounts/sign-up/" class="btn">Join</a></li>
                                                        <li class="button-header"><a href="http://127.0.0.1:8000/accounts/log-in/" class="btn btn3">Log in</a></li>
                                                    {% endif %}

                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div> 
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
